<p>
  quiz works!
  {{question1.title}}
  {{question1.answered}}

</p>

<div [ngSwitch]="idx">
  <p *ngSwitchCase = "0"> 1st element or 0 index</p>
  <p *ngSwitchCase = "1"> 2nd element or 1 index</p>
  <p *ngSwitchCase = "2"> 3rd element or 2 index</p>
  <p *ngSwitchCase = "3"> 4th element or 3 index</p>
  <p *ngSwitchCase = "4"> 5th element or 4 index</p>
  <p *ngSwitchCase = "5"> 6th element or 5th index</p>
  <p *ngSwitchCase = "6"> 7th element or 6 index</p>
  <p *ngSwitchCase = "7"> 8th element or 7 index</p>
  <p *ngSwitchCase = "8"> 9th element or 8 index</p>
  <p *ngSwitchCase = "9"> 10th element or 9 index</p>
  <p *ngSwitchCase = "10"> 11th element or 10 index Summary</p>


</div>

<button type="button" (click)="myFunction()" [disabled]="btnDisabled" >Count!</button>






